*{margin: 0 auto;}

body { 
       background-color: #002836;
   }

h1 {
     text-align: center;
     text-transform: uppercase;
     font-family: sans-serif;
     font-family: helvetica;
     margin: 50vh auto;
     left: 50vh;
     color: #005676;
     text-shadow: 5px 3px 5px #000;
     font-size: 3em;
 }
 h1::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
 }

 @keyframes pisca {

  0%, 100%{
 
 opacity: 1;

 }

 50% {
  
  opacity: 1;

 }



 }

